@charset "UTF-8";
/*-----------------------------------*/
/* 
    RESET CSS
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------*/
/*
	Functions (ex: pos calc)
*/
/*-----------------------------------*/
/*
    Variables (color palette, fonts, etc...)
*/
/*-----------------------------------*/
/*
    Polices
*/
/* rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/rubik/rubik-v31-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/rubik/rubik-v31-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik/rubik-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/rubik/rubik-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* terminus */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Terminus";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/terminus/terminus.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*-----------------------------------*/
/*
    Palette de couleurs
*/
/* Menu de navigation */
/* Arrière-plan du site */
/*-----------------------------------*/
/*
    Effets
*/
/* Ombres de texte */
/* Ombres d'images */
/*-----------------------*/
/* --- Global properties --- */
html {
  scroll-behavior: smooth;
}

.body {
  --bg-color-first-start: #5d06d6;
  --bg-color-first-end: #0B0215;
  --bg-color-last-start: #F0BFFF;
  --bg-color-last-end: #BB76FF;
  --bg-color-current-start: var(--bg-color-first-start);
  --bg-color-current-end: var(--bg-color-first-end);
  background: linear-gradient(125deg, var(--bg-color-current-start) 0%, var(--bg-color-current-end) 100%);
  background-attachment: fixed;
  min-height: 100vh;
}

.footer {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}
.footer__legal-notices {
  font-family: "Rubik";
  font-weight: 300;
  font-size: 16px;
  color: white;
}

/* --- Error 404 --- */
.e404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
}
.e404__title, .e404__subtitle {
  text-align: center;
  font-family: "Rubik";
  color: white;
  text-shadow: 12px 12px 16px rgba(0, 0, 0, 0.4);
}
.e404__title {
  font-weight: 500;
  font-size: clamp(4rem, 10vw, 8rem);
  padding-bottom: 1rem;
}
.e404__subtitle {
  font-size: clamp(1.5rem, 3.75vw, 3rem);
  font-weight: 400;
}
.e404__picture {
  border-radius: 2rem;
  border: solid rgba(255, 177, 250, 0.35);
  border-width: 0.5rem;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
  width: clamp(12rem, 21.3vw, 16rem);
  height: auto;
}

.e404-div--error {
  padding-top: clamp(4rem, 10vw, 8rem);
}
.e404-div--button {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}
.e404-div--picture {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  padding: 0 5rem;
  padding-top: 5rem;
}

/* --- Nav menu --- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  background: linear-gradient(90deg, #3c3ade, #5d06d6);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 64rem) {
  .header {
    flex-direction: column;
    justify-content: center;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
    padding: 1rem 1rem;
  }
}

.navbar-logo-sitename {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.navbar-logo-sitename__logo {
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}
.navbar-logo-sitename__title {
  color: white;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.navbar-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 1.5rem;
}
@media screen and (max-width: 64rem) {
  .navbar-nav__list {
    padding-top: 2rem;
  }
}
.navbar-nav__link {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  /* Souligner la page actuelle */
}
.navbar-nav__link--current {
  text-decoration: underline;
}
.navbar-nav__flag {
  width: 3rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}

/* --- Index page --- */
.homescreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
}
.homescreen__title, .homescreen__subtitle {
  text-align: center;
  font-family: "Rubik";
  color: white;
  text-shadow: 12px 12px 16px rgba(0, 0, 0, 0.4);
}
.homescreen__title {
  font-weight: 500;
  font-size: clamp(4rem, 10vw, 8rem);
  padding-bottom: 1rem;
}
.homescreen__subtitle {
  font-size: clamp(1.5rem, 3.75vw, 3rem);
  font-weight: 400;
}
.homescreen__picture {
  border-radius: 2rem;
  border: solid rgba(255, 177, 250, 0.35);
  border-width: 0.5rem;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
  width: clamp(12rem, 21.3vw, 16rem);
  height: auto;
}

.homescreen-div {
  display: flex;
  flex-direction: column;
}
.homescreen-div--welcome {
  padding-top: clamp(4rem, 10vw, 8rem);
}
.homescreen-div--pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  padding: 0 5rem;
  padding-top: 5rem;
  /* Offset on 2nd element */
}
.homescreen-div--pictures :nth-child(2) {
  transform: translate(0, 16%);
}
@media screen and (max-width: 1024px) {
  .homescreen-div--pictures :nth-child(2) {
    transform: translate(0, 0);
  }
}

/* --- History page --- */
.history-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history-intro__title, .history-intro__subtitle {
  text-align: center;
  font-family: "Rubik";
  color: white;
  text-shadow: 12px 12px 16px rgba(0, 0, 0, 0.4);
}
.history-intro__title {
  font-weight: 500;
  font-size: clamp(4rem, 10vw, 8rem);
  padding-bottom: 1rem;
}
.history-intro__subtitle {
  font-size: clamp(1.5rem, 3.75vw, 3rem);
  font-weight: 400;
}

.history-intro-div--intro {
  padding-top: clamp(4rem, 10vw, 8rem);
}
.history-intro-div--buttons {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  padding-bottom: 62vh;
}

.history-article__history-article-div {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}
.history-article__title {
  font-family: "Rubik";
  text-align: center;
  color: black;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: clamp(3.5rem, 10.625vw, 5rem);
}
.history-article__picture {
  width: clamp(12rem, 21.3vw, 16rem);
  height: auto;
  border-radius: 2rem;
  border: solid rgba(120, 71, 255, 0.5);
  border-width: 0.5rem;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}

.history-article-div {
  align-items: center;
  gap: clamp(2rem, 10vw, 4rem);
  flex-wrap: wrap;
}
.history-article-div--1 {
  flex-direction: column;
}
.history-article-div--2 {
  flex-direction: row;
  justify-content: center;
}
.history-article-div--3 {
  flex-direction: row;
  justify-content: center;
}
.history-article-div--5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5rem;
}

.history-article-paragraph {
  font-family: "Rubik";
  text-align: center;
  padding: 0 2rem;
  color: black;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1875rem;
}
.history-article-paragraph--tiny {
  max-width: 32rem;
}
.history-article-paragraph--medium {
  max-width: 50rem;
}
.history-article-paragraph--large {
  max-width: 80rem;
}

/* ---  Roster page --- */
.roster-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: clamp(4rem, 10vw, 8rem);
  padding-bottom: 4rem;
}
.roster-presentation__title, .roster-presentation__subtitle {
  text-align: center;
  font-family: "Rubik";
  color: white;
  text-shadow: 12px 12px 16px rgba(0, 0, 0, 0.4);
}
.roster-presentation__title {
  max-width: 80rem;
  font-weight: 500;
  font-size: clamp(4rem, 10vw, 8rem);
  padding-bottom: 1rem;
}
.roster-presentation__subtitle {
  font-size: clamp(1.5rem, 3.75vw, 3rem);
  font-weight: 400;
}

.roster {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
  padding: 0 10rem;
  padding-bottom: 4rem;
}

.roster-card-title {
  padding-top: clamp(4rem, 10vw, 8rem);
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roster-card-title__title {
  text-align: center;
  font-family: "Rubik";
  font-weight: 500;
  font-size: clamp(3rem, 10vw, 5.5rem);
  max-width: 90%;
  color: white;
  text-shadow: 12px 12px 16px rgba(0, 0, 0, 0.4);
}

.roster-card {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.roster-card__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
  width: 160px;
  height: 13rem;
  border-radius: 18px;
  background-color: white;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
  transition: background-color 100ms ease-in-out;
}
.roster-card__picture {
  border-radius: 16px;
  width: 100%;
  height: auto;
}
.roster-card__name {
  font-family: "Rubik";
  font-weight: 400;
  color: black;
  max-width: 90%;
  text-align: center;
}
.roster-card:hover {
  transform: translate(0, -10%);
}
.roster-card:hover .roster-card__div {
  background-color: #facd00;
}

.roster-identity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding-bottom: 4rem;
}
.roster-identity__quote-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  width: clamp(20rem, 45vw, 42rem);
  background-color: white;
  border-radius: 24px;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
}
.roster-identity__h, .roster-identity__p, .roster-identity__quote {
  font-family: "Rubik";
  font-size: 16px;
  text-align: center;
}
.roster-identity__h {
  font-size: 18px;
  font-weight: 400;
}
.roster-identity__p, .roster-identity__quote {
  font-weight: 300;
  line-height: 1.25rem;
  max-width: clamp(17rem, 34vw, 36rem);
}
.roster-identity__quote {
  font-style: italic;
}
.roster-identity__picture {
  border-radius: 2rem;
  border: solid rgba(255, 177, 250, 0.35);
  border-width: 0.5rem;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
  width: clamp(12rem, 21.3vw, 16rem);
  height: auto;
}
@media screen and (max-width: 1024px) {
  .roster-identity {
    flex-direction: column;
  }
}

.other-brainrots-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 4rem;
}

/* --- About page --- */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
}
.about__about-div-title {
  padding-top: clamp(4rem, 10vw, 5rem);
  text-align: center;
  font-family: "Rubik";
  color: white;
  text-shadow: 12px 12px 16px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: clamp(3rem, 10vw, 6rem);
  padding-bottom: 1rem;
}
.about__about-div-infos {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.about-infobubble {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 24px;
  background-color: white;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
}
.about-infobubble__text {
  font-family: "Rubik";
  font-weight: 300;
  line-height: 1.25rem;
  text-align: center;
  max-width: 24rem;
}

.about-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
}
.about-form__input {
  width: 80%;
}
.about-form__textarea {
  width: 90%;
  height: 4rem;
}

.about-form, .about-form__button, .about-form__input, .about-form__textarea {
  font-family: "Rubik";
}

.about-form__button {
  font-family: "Rubik";
  border: none;
  background: none;
  padding: 0.5rem 2rem;
  border-radius: 16px;
  color: white;
  background-color: rgb(169, 70, 255);
}
.about-form__button:hover {
  cursor: pointer;
  background-color: rgb(176, 85, 255);
}

.about-form__input, .about-form__textarea {
  font-weight: 300;
}

/* --- Misc. --- */
.a-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  height: 3rem;
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: "Rubik";
  font-weight: 300;
  font-size: 1.125rem;
  border: solid white 0.0625rem;
  border-radius: 2rem;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
  /*
  &--colored {
  	background: linear-gradient($colorpalette-navbar-gradient-angle, $colorpalette-navbar-gradient-start 0%, $colorpalette-navbar-gradient-end 100%);
  	border-color: rgb(182, 56, 255);
  	color: white;
  }
  */
}
.a-button:hover {
  border-color: #F6F6F6;
  background-color: #F6F6F6;
}
.a-button--transparent:not(:hover) {
  background: none;
  color: white;
}

.youtube-embed {
  position: relative;
  display: inline-block;
  width: clamp(240px, 50vw, 640px);
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}
.youtube-embed:hover img, .youtube-embed:hover h3 {
  filter: none;
}
.youtube-embed img {
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(0.25);
  transition: filter 150ms ease-in-out;
}
.youtube-embed svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(4rem, 17.9vw, 6.25rem);
}
.youtube-embed h3 {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: clamp(0.6rem, 2.5vw, 1.5rem);
  font-family: "Rubik";
  font-weight: 300;
  width: 100%;
  position: absolute;
  top: 8.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 150ms ease-in-out;
}

.image {
  font-family: "sans-serif";
}/*# sourceMappingURL=style.css.map */