/*-----------------------------------*/
/* 
    RESET CSS
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
@use 'reset.scss' as *;
/*-----------------------------------*/
/*
	Functions (ex: pos calc)
*/
@use 'util.scss' as *;
/*-----------------------------------*/
/*
    Variables (color palette, fonts, etc...)
*/
@use 'variables.scss' as *;

/*-----------------------*/
/* --- Global properties --- */

.body {
	//Créer les variables pour pouvoir y accéder et les modifier en JS
	--bg-color-first-start: #{$colorpalette-background-gradient-first-start};
	--bg-color-first-end: #{$colorpalette-background-gradient-first-end};
	--bg-color-last-start: #{$colorpalette-background-gradient-last-start};
	--bg-color-last-end: #{$colorpalette-background-gradient-last-end};
	--bg-color-current-start: var(--bg-color-first-start);
	--bg-color-current-end: var(--bg-color-first-end);

	background: black;
	background-attachment: fixed;
	min-height: 100vh;
}

/* --- Error 404 --- */
.e404 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-bottom: 4rem;

	
	&__title, &__subtitle {
		text-align: center;
		font-family: 'Rubik';
		color: white;

		text-shadow: $effect-text-shadow-big;
	}
	&__title {
		font-weight: 500;
		font-size: clamp(4rem, 10vw, 8rem);
		padding-bottom: px2rem(16);
	}
	&__subtitle {
		font-size: clamp(1.5rem, 3.75vw, 3rem);
		font-weight: 400;
	}
	&__picture {
		border-radius: px2rem(32);
		border-width: px2rem(8);

		filter: $effect-filter-img-drop-shadow-tiny;

		width: clamp(12rem, 21.3vw, 16rem);
		height: auto;
	}
}
.e404-div {
	&--error {
		padding-top: clamp(4rem, 10vw, 8rem);
	}
	&--button {
		padding-top: px2rem(48);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: px2rem(16) px2rem(32);
	}
	&--picture {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: px2rem(32) px2rem(80);

		padding: 0 5rem;
		padding-top: px2rem(80);
	}
}

/* --- Nav menu --- */
.header {	
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	align-items: flex-start; 
	flex-wrap: wrap;
	padding: 0;  
	margin: 0; 
    gap: px2rem(24); 
	width: 100%;
	background-color: black;

	@media screen and (max-width: px2rem(1024)) {
		justify-content: center;
		column-gap: px2rem(128);

	}

	 &__navbar-logo-sitename {
        display: flex;
        align-items: center;
        gap: px2rem(16); 
		padding: 1rem 1rem;
    }

	&__navbar-nav {
        width: 100%; 
        background-color: #1900ff;  	
		margin: 0;
		padding: 0;
        box-sizing: border-box; 
		display: flex;
    }

}
.navbar-logo-sitename {
    display: flex;
    gap: px2rem(48);
    align-items: center;

	&__title {
		color: white;
		font-family: 'Terminus';
		font-weight: 900;
		font-size: px2rem(32);

	}
		
	.navbar-logo-sitename__logo {
        filter: grayscale(100%) invert(100%);
		image-rendering: pixelated;
        }
}

.navbar-nav {
    &__list {
        @media screen and (max-width: px2rem(1024)) {
            padding-top: px2rem(16);
        }

        display: flex;
        align-items: center;
        
        justify-content: flex-start; 
        flex-wrap: wrap;
        
        column-gap: px2rem(48);
        row-gap: px2rem(24);
        
        list-style: none;
        padding: 0;
        margin: 0;
		width: 100%;
		list-style: none;
		line-height: 0
	}
	



    &__link {
        font-family: 'Terminus', monospace;
        font-size: px2rem(20);
        text-decoration: none;
        

        background-color: #ffffff; 
        color: black;              
        padding: px2rem(2) px2rem(8);

        display: inline-flex; 
        line-height: 1;
		height: 100%;

		&::before {
            content: "/";
            margin-right: 0.3rem;
            color: rgb(0, 0, 0);
            font-weight: bold;
        }

        &--current {
            text-decoration: underline;
            text-underline-offset: 4px; 
			background-color: black; 
            color: white;            
            text-decoration: none;

			&::before {
                color: white;
            }
        }
        
        &:hover {
            color: #1900ff;
             &::before {
                color: rgb(0, 255, 0);
            }
        }

		
    }

    &__flag {
        height: px2rem(24);
        width: auto;
        display: block; 
        margin-left: px2rem(16);
		filter: grayscale(100%);
    }
}

/* --- Index page --- */
.homescreen {
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
    align-items: flex-start; 
    text-align: left;        


    padding: px2rem(20); 
    padding-bottom: 4rem;

	
	&__title, &__subtitle {
		font-family: 'Terminus', monospace;
        color: white;
        text-align: left; 
        margin: 0;       
        width: 100%;

		
	}
	&__title {
		font-weight: 500;
		font-size: clamp(3rem, 8vw, 6rem);
		padding-bottom: px2rem(16);
	}
	&__subtitle {
		font-size: clamp(1.5rem, 3.75vw, 3rem);
		font-weight: 400;
	}
	&__picture {


		height: auto;

        filter: grayscale(100%) brightness(0.9) contrast(1000%);
        
        image-rendering: pixelated;
        


		width: clamp(12rem, 21.3vw, 16rem);
		height: auto;
	}


	
}
.homescreen-div {
	display: flex;
	flex-direction: column;

	&--welcome {
		padding-top: px2rem(40); 
        align-items: flex-start;
	}
	&--pictures {


		display: flex;
		flex-direction: column;
        

        justify-content: flex-start; 
        align-items: flex-start;
        
        flex-wrap: wrap;
        

        gap: px2rem(32); 


        padding: 0; 
        padding-top: px2rem(32);


	
	}
}

/* --- History page --- */
.history-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title, &__subtitle {
		text-align: center;
		font-family: 'Terminus';
		color: white;


	}
	&__title {
		font-weight: 500;
		font-size: clamp(4rem, 10vw, 8rem);
		padding-bottom: px2rem(16);
	}
	&__subtitle {
		font-size: clamp(1.5rem, 3.75vw, 3rem);
		font-weight: 400;
	}
}
.history-intro-div {
	&--intro {
		padding-top: clamp(4rem, 10vw, 8rem);
	}
	&--buttons {
		padding-top: px2rem(48);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: px2rem(16) px2rem(32);

		padding-bottom: 62vh;
	}
}
.history-article {

	&__history-article-div {
		padding-top: px2rem(48);
		display: flex;
		flex-direction: column;
		//gap: px2rem(48);
	}
	
	&__title {
		font-family: 'Terminus';
		text-align: center;

		color: white;

		text-shadow: $effect-text-shadow-verytiny;

		font-weight: 500;
		font-size: clamp(3.5rem, 10.625vw, 5rem);
	}
	&__picture {
		width: clamp(12rem, 21.3vw, 16rem);
		height: auto;
		filter: grayscale(100%) brightness(0.9) contrast(1000%);
        image-rendering: pixelated;

		
	}
}
.history-article-div {
	align-items: center;
	gap: clamp(2rem, 10vw, 4rem);
	flex-wrap: wrap;
	
	&--1 {
		flex-direction: column;
	}
	&--2 {
		flex-direction: row;
		justify-content: center;
	}
	&--3 {
		flex-direction: row;
		justify-content: center;
	}
	&--5 {
		padding-bottom: 5rem;
	}
}
.history-article-paragraph {
	font-family: 'Terminus';
	text-align: center;

	padding: 0 2rem;

	color: white;

	text-shadow: $effect-text-shadow-verytiny;

	font-weight: 300;
	font-size: 16px;
	line-height: px2rem(19);

	&--tiny {
		max-width: 32rem;
	}
	&--medium {
		max-width: 50rem;
	}
	&--large {
		max-width: 80rem;
	}
}

/* ---  Roster page --- */
.roster-presentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: clamp(4rem, 10vw, 8rem);
	padding-bottom: 4rem;

	&__title, &__subtitle {
		text-align: center;	
		font-family: 'Terminus';
		color: white;

	}
	&__title {
		font-weight: 500;
		font-size: clamp(4rem, 10vw, 8rem);
		padding-bottom: px2rem(16);
	}
	&__subtitle {
		font-size: clamp(1.5rem, 3.75vw, 3rem);
		font-weight: 400;
	}
}

.roster {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem 3rem;

	padding: 0 10rem;
	padding-bottom: 4rem;
}
.roster-card {
	text-decoration: none;

	&__div {
		display: flex;
		flex-direction: column;
		
		align-items: center;

		gap: 0.5rem;

		width: 160px;
		height: 13rem;



		background-color: white;

	}
	&__picture {
		width: 100%;
		height: auto;
		filter: grayscale(100%) brightness(0.9) contrast(1000%);
        
        image-rendering: pixelated;
		border-bottom: 4px solid rgb(0, 255, 0);
		box-sizing: border-box;
		outline: 4px solid #00ff00;
    	outline-offset: -4px;
	}
	&__name {
		font-family: 'Terminus';
		font-weight: 400;
		color: black;

		max-width: 90%;
		text-align: center;
	}

	transition: all 150ms ease-in-out;

	&:hover &__div {
		background-color: #1900ff;
	}
}

.roster-identity {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	gap: 4rem;

	padding-bottom: 2rem;

	&__quote-div {
		display: flex;
		flex-direction: column;

		justify-content: flex-start;
        align-items: flex-start;

		gap: 1rem;

		padding: 1rem 0;

		//width: 32rem;
		width: clamp(20rem, 45vw, 42rem);
		
		
		//padding: 2rem 0rem;
		background-color: white;

		&:hover {
			background-color: #1900ff;
			color: #ffffff;
		}


		
	}

	&__h, &__p, &__quote {
		font-family: 'Terminus';
		font-size: 16px;
		text-align: left;
		text-align: center;
	}
	&__h {
		font-size: 18px;
		font-weight: 400;
	}
	&__p, &__quote {
		font-weight: 300;
		line-height: 1.25rem;
		max-width: clamp(17rem, 34vw, 36rem);
		//max-width: 36rem;
	}
	&__quote {
		font-style: italic;
	}

	&__picture {
		filter: grayscale(100%) brightness(0.9) contrast(1000%);
        
        image-rendering: pixelated;


		width: clamp(12rem, 21.3vw, 16rem);
		height: auto;
	}

	@media screen and (max-width: 1024px) {
		flex-direction: column;
	}
}
.other-brainrots-div {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 2rem;

	padding-bottom: 4rem;
}


/* --- About page --- */
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-bottom: 4rem;

	
	&__about-div-title {
		padding-top: clamp(4rem, 10vw, 5rem);

		text-align: center;
		font-family: 'Terminus';
		color: white;



		font-weight: 500;
		font-size: clamp(3rem, 10vw, 6rem);
		padding-bottom: px2rem(16);
	}
	&__about-div-infos {
		padding-top: 4rem;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 4rem;
	}
}
.about-infobubble {
	padding: 2rem 5rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;

	background-color: #1900ff;
	color: white;

	&:hover {
			background-color: black;
			color: #ffffff;
		}

	&__text {
		font-family: 'Terminus';
		font-weight: 300;
		line-height: 1.25rem;

		text-align: left;

		max-width: 24rem;
	}
}

.about-infobubble__a{
	color: #00a800;
}

.about-form {
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 1rem;
	
	font-weight: 400;
}
.about-form, .about-form__button, .about-form__input, .about-form__textarea {
	font-family: 'Terminus';
}
.about-form__button {
	font-family: 'terminus';
	border: none;
	background: none;
	padding: 0.5rem 2rem;
	color: black;
	background-color: #00ff00;

	&:hover {
		cursor: pointer;
		background-color: rgb(0, 0, 0);
		color: white;
	}
	
}
.about-form__input, .about-form__textarea {
	font-weight: 300;
	background: #000000;
	color: white;
    padding: 0.5rem;
    width: 100%; 
    max-width: 20rem;
}

/* --- Misc. --- */
.a-button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	//width: px2rem(160);
	padding: 0 2rem;
	height: px2rem(48);
	background-color: white;
	color: black;
	text-decoration: none;
	font-family: 'terminus';
	font-weight: 300;
	font-size: px2rem(18);
	border: solid white px2rem(1);

	&::before {
            content: "/";
            margin-right: 0.3rem;
            color: rgb(0, 0, 0);
            font-weight: bold;
        }

	&:hover {
		color: #1900ff;
		&::before {
			color: rgb(0, 255, 0)
		}
	}
	
	&--transparent {
		&:not(:hover) {
			background: none;
			color: white;
			&::before {
                color: white;
            }
		}

		&:hover {
			color: #1900ff;
			&::before {
                color: rgb(0, 255, 0)
            }
		}
	}
}
.youtube-embed {
	position: relative;
	display: inline-block;

	width: clamp(240px, 50vw, 640px);
	
	



	& img {
		display: block;
		width: 100%;
		height: auto;

		filter: grayscale(100%) brightness(0.9) contrast(1000%);
        
        image-rendering: pixelated;



	}
	& svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: clamp(4rem, 17.9vw, 6.25rem);

		 filter: grayscale(100%) brightness(0.9) contrast(1000%);
        
        image-rendering: pixelated;
	}
	& h3 {
		text-align: center;
		color: white;
		text-decoration: none;
		font-size: clamp(0.6rem, 2.5vw, 1.5rem);
		font-family: 'Terminus';
		font-weight: 300;
		width: 100%;

		position: absolute;
		top: 8.5%;
		left: 50%;
		transform: translate(-50%, -50%);

		transition: filter 150ms ease-in-out;
	}
}
.image {
	//color: white;
	font-family: 'sans-serif';
}