/*-----------------------------------*/
/*
    Polices
*/
/* rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/rubik/rubik-v31-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/rubik/rubik-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/rubik/rubik-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/rubik/rubik-v31-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*-----------------------------------*/
/*
    Palette de couleurs
*/
/* Menu de navigation */
$colorpalette-navbar-gradient-angle: 90deg;
$colorpalette-navbar-gradient-start: #3c3ade;
$colorpalette-navbar-gradient-end: #5d06d6;

/* Arrière-plan du site */
$colorpalette-background-gradient-angle: 125deg;

$colorpalette-background-gradient-first-start: #5d06d6;
$colorpalette-background-gradient-first_end: /*#0a0822*/#0B0215;
$colorpalette-background-gradient-last-start: #F0BFFF;
$colorpalette-background-gradient-last-end: #BB76FF;

/* Couleurs de texte */
$colorpalette-text-light: white;
$colorpalette-text-dark: black;
/*-----------------------------------*/
/*
    Effets
*/
/* Ombres de texte */
$effect-text-shadow-vtiny: 4px 4px 12px rgba(0, 0, 0, 0.4);
$effect-text-shadow-tiny: 4px 4px 8px rgba(0, 0, 0, 0.6);
$effect-text-shadow-big: 12px 12px 16px rgba(0, 0, 0, 0.4);
/* Ombres d'images */
$effect-img-shadow-tiny: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
$effect-img-shadow-big: drop-shadow(12px 12px 12px rgba(0, 0, 0, 0.4));
/* Ombres d'éléments */
$effect-element-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
$effect-element-shadow-vertical: 0 10px 12px rgba(0, 0, 0, 0.4);
